.vertical-line-vertical {
  border-left: 1px solid #000; /* Adjust color and thickness as needed */
  height: 100%;
}
.vertical-line {
  margin-top: 10px; /* Remove top margin */
  margin-bottom: 10px; /* Remove bottom margin */
}

.vertical-line-vertical {
  margin-top: auto; /* Align top */
  margin-bottom: auto; /* Align bottom */
}
.circle {
  margin-top: 4px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: black;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
}
.remove-border-bottom {
  border-bottom: none;
}

.stars-responsive .star-icon {
  font-size: 2rem; /* Default size */
}

@media (max-width: 576px) {
  .stars-responsive .star-icon {
    font-size: 1.5rem; /* Smaller size for mobile view */
  }
}

.stars-responsive {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .stars-responsive {
    flex-direction: row; /* Ensure stars are in a row */
  }
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%; /* Ensure full card height is equal */
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Product Image */
.card-img-top {
  width: 100px;
  height: 100px;
  object-fit: cover; /* Ensure image fits within dimensions */
  margin: auto; /* Center image horizontally */
}

/* Top Label */
.promotion-type {
  position: absolute;
  top: 5px;
  left: 5px;
  background: red;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
  z-index: 10;
}

/* Lifestyle Badge and Category */
.label {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
  margin-top: 5px;
  color: white;
  background: #fca420;
}

/* Compare Button */
.btn {
  font-size: 14px;
  padding: 5px 10px;
  margin: 10px 0; /* Add spacing below the button */
}

/* Responsive Layout */
@media (max-width: 768px) {
  .col-lg-2 {
    max-width: 50%;
    flex: 0 0 50%;
  }
}

@media (max-width: 576px) {
  .col-lg-2 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.custom-checkbox-label {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid #333;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  line-height: 24px;
  cursor: pointer;
  transition: all 0.2s;
}

.custom-checkbox-label.selected {
  background: #00ff00;
}

.custom-checkbox-label:hover {
  background: #f0f0f0;
}

.custom-button-selected {
  background-color: #1b803a;
  border: none;
  color: white;
}

.custom-button-default {
  background-color: #f0f0f0;
  border: none;
  color: black;
}

.custom-button:hover {
  opacity: 0.8;
}
.product-description {
  font-size: 12px;
  line-height: 1.5;
}
