.icon-prepend {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.input-group:focus-within .icon-prepend {
  opacity: 1;
}

.input-group input::placeholder {
  padding-left: 10px;
}
