.circle {
  width: 150px;
  height: 150px;
  background-color: white;
  overflow: hidden;
}

.circle img {
  max-width: 80%;
  max-height: 80%;
  width: auto;
  height: auto;
}
.circle {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cross-icon {
  position: absolute;
  top: -11px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
  /* color: red; */
  z-index: 9999;
}

.badge-halal {
  background-color: red;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 10px;
}

.btn {
  border-radius: 5px;
  padding: 5px;
  color: white;
}

.brand-name {
  font-weight: 200;
}

.border-right {
  border-right: 1px solid #c9cccf !important;
}
.vertical-line {
  width: 1px;
  background-color: #d9d9d9;
  margin: 0 auto;
}

.vs-text {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 11px;
  border-radius: 20%;
  color: white;
  font-weight: 600;
  background-color: #ffc300;
}

.data-graph-table th, .data-graph-table td {
  background: transparent;
  border-top: 0;
  border-bottom: 1px solid rgba(59, 59, 59, 0.5);
  font-size: 16px;
  padding: 16px 4px;
}
.data-graph-table th {
  min-width: 90px;
}

.cl-warning {
  color: rgba(236, 134, 3, 1);
  font-weight: 500;
}

.cl-blue {
  color: rgba(3, 64, 83, 1);
  font-weight: 500;
}

.cl-success {
  color: rgba(27, 128, 58, 1);
  font-weight: 500;
}

.cl-yellow {
  color: rgba(163, 118, 62, 1);
  font-weight: 500;
}

.data-graph-table th[scope="row"], .data-graph-table th[scope="col"] {
  color: rgba(100, 100, 100, 1);
  font-weight: 500;
}

.clamp--two {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.clamp--one {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.cursor-pointer {
  cursor: pointer;
}

.abs--icon-bottom {
  position: absolute;
  right: -16px;
  bottom: 2px;
}

.font12 {
  font-size: 14px;
}

.tooltip-txt .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 10px;
  line-height: 1.6;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: -70px;
  font-size: 12px;
}

.tooltip-txt:hover .tooltiptext {
  visibility: visible;
}

.tooltip-txt {
  position: relative;
}

.card-container-box {
  padding: 0 10px;
}
.card-container-box .card-body {
  padding: 0px;
}

.label {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
  margin-top: 5px;
  color: white;
  background: #fca420;
}

@media (min-width: 768px) {
  .card-container-box {
    padding: 20px 50px;
  }
  .card-container-box .card-body {
    padding: 20px;
  }
  .data-graph-table th, .data-graph-table td {
    min-width: 150px;
    padding: 12px !important;
  }
}
@media (max-width: 767px) {
  .box--fluid {
    padding: 20px 25px;
  }
  .box--fluid .circle {
    width: 120px;
    height: 120px;
  }
  .box--fluid .cross-icon {
    z-index: 9;
  }
  .col-xs-6 {
    width: 50%;
    max-width: 50%;
    padding-bottom: 20px;
  }
  .xs-auto {
    width: auto !important;
  }
}