<section class="ov-hidden pb-5 bg-transparent position-relative search-section"
  style="background-image: linear-gradient(to top, #ffe9da, #ffede1, #fff1e7, #fff5ee, #fff9f5); background-size: cover; padding-top: 150px;">
  <div class="container-fluid pb-3">
    <div class="row">
      <div class="col-md-4">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/product">Products</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dairy & Products</li>
          </ol>
        </nav>
      </div>
      <div class="col-md-4 d-flex justify-content-center align-items-center">
        <h2 class="theme_color font-weight-bold">Product Compare</h2>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-4">
    <div class="row justify-content-center">
      <div class="col-11">
        <div class="d-flex justify-content-center">
          <div class="row">
            <!-- Loop through each product -->
            <div class="col mb-4" *ngFor="let product of products; let i = index">
              <div class="card bg-transparent border-0">
                <div class="d-flex justify-content-center align-items-center">
                  <i class="fas fa-times cross-icon" (click)="removeProduct(product.id)" style="cursor: pointer;"></i>
                  <div class="circle">
                    <!-- Use product image -->
                    <img [src]="s3url + product.image" alt="Product Image" style="width: 130px;">
                  </div>
                </div>

                <div class="card-body d-flex justify-content-center align-items-center">
                  <img
                    [src]="product.veg_nonveg_category === 'veg' ? 'assets/images/veg.png' : 'assets/images/non-veg.png'"
                    class="type-image mr-3" alt="Product Type" style="width: 32px;">

                  <span class="label mb-1"
                    [ngClass]="{ 'badge-halal': product.lifestyle_category_id == 1, 'badge-nonhalal': product.lifestyle_category_id == 2 }">
                    {{ product.lifestyle_category_id == 1 ? 'Halaal' : 'Non-Halaal' }}</span>
                </div>
                <div class="card-body m-0 p-0">
                  <!-- Display product name and brand -->
                  <h6 class="text-center">{{ 'Brand - ' + product.brand.brand_name }}</h6>
                  <button class="btn w-100 text-center"
                    [ngStyle]="{'background-color': productColors[i], 'color': 'white'}">
                    Product <br>
                    <span class="brand-name clamp--one">{{ product.product_name }}</span>
                  </button>
                  <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <!-- Display additional details -->
                    <p class="text-center m-0 pt-2" style="width: 150px;">Product Description
                    </p>
                    <div class="position-relative">
                      <p class="text-center m-0 text-secondary clamp--two" style="width: 200px;">{{ product.description }}</p>
                      <div class="text-center mt-1 font12">
                        <span class="d-inline tooltip-txt position-relative cursor-pointer">
                          <!-- <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 24 24" fill="none">
                            <path d="M12 17V11" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
                            <circle cx="1" cy="1" r="1" transform="matrix(1 0 0 -1 11 9)" fill="#1C274C"/>
                            <path d="M7 3.33782C8.47087 2.48697 10.1786 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 10.1786 2.48697 8.47087 3.33782 7" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
                          </svg> -->
                          More info
                          <span class="tooltiptext">{{ product.description }}</span>
                        </span>
                      </div>
                    </div>
                  </div>

                  <button class="btn w-100 text-center mt-2"
                    [ngStyle]="{'background-color': productColors[i], 'color': 'white'}">
                    Food Category <br>
                    <span class="brand-name">{{ product.productCateogry.category_name }}</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="container-fluid mt-4">
    <div class="card">
      <h4 class="text-center theme_color pt-3 font-weight-bold">Nutrition Information</h4>
      <div class="card-body">
        <div id="chart-container" style="width:100%; height:400px;"></div>
      </div>
    </div>
  </div>
  <div class="card-container-box">
    <div class="card mt-4">
      <div class="card-body">
        <div class="bg-white p-3 mb-3">
          <div class="table-responsive data-graph-table">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Fats:</th>
                  <td class="cl-warning">2.5%</td>
                  <td class="cl-blue">2.4%</td>
                  <td class="cl-success">2.3%</td>
                  <td class="cl-yellow">1.5%</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Proteins:</th>
                  <td class="cl-warning">35%</td>
                  <td class="cl-blue">30%</td>
                  <td class="cl-success">25%</td>
                  <td class="cl-yellow">20%</td>
                </tr>
                <tr>
                  <th scope="row">Carbs:</th>
                  <td class="cl-warning">38%</td>
                  <td class="cl-blue">42%</td>
                  <td class="cl-success">40%</td>
                  <td class="cl-yellow">30%</td>
                </tr>
                <tr>
                  <th scope="row">Energy:</th>
                  <td class="cl-warning">10%</td>
                  <td class="cl-blue">5%</td>
                  <td class="cl-success">8%</td>
                  <td class="cl-yellow">15%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>